/* SECTION 3 - OVERALL STYLES */
.section3 h2 {
    text-align: center;
    padding-bottom: 2rem;
  }
  
  /* SECTION 3- ENTERTAINMENT STYLES */
  .entertainment-tile{
    &:hover {                           /* INTERACTIVE STYLES */
        opacity: 0.85;
        transform: scale(1.1);
      }                                 
    figure {
    position: relative;
    figcaption {
    position: absolute;
    bottom: 0;
    padding-bottom: 3rem;
    color: white;
    padding-left: 1rem;
    width: 250px;
    text-align: right;
    text-shadow: rgba(52, 47, 52, 0.643) 1px 0 10px;
    display: flex;
    align-items: center;
  }
  
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 1rem;
  }
}
  
  .cnn-logo {
    background: url(../images/cnn-logo.png);
  }
  
  .et-logo {
    background: url(../images/et-canada-logo.jpeg);
  }
  
  .source-logo {
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    width: 30px;
    height: 30px;
    display: inline-block;
    flex-shrink: 0;
  }

  /* RESPONSIVENESS */

.tile-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    padding-bottom: 15rem;
  }