:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --two-col: 49%;
  --three-col: 32%;
  --four-col: 23.5%;
}
$heading-color: red;
$heading-text-color: white;
$one-col: 80%;
$primary: red;

$md: 47.5em;
$lg: 70em;
